<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Todo list</title>
    <style>
        table th {
            font-weight: bold;
            background-color: aqua;
            border: 1px solid black;
        }

        table td {
            border-bottom: 1px solid black;
        }
    </style>
</head>
<body>
<!--/*@thymesVar id="title" type="kotlin.String"*/-->
<h2 th:text="${title}"></h2>
<table>
    <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Author</th>
    </tr>
    <!--/*@thymesVar id="items" type="java.util.Collection<com.almland.vaadinplayground.domain.Todo>"*/-->
    <tr th:each="item:${items}">
        <td th:text="${item.title}"></td>
        <td th:text="${item.body}"></td>
        <td th:text="${item.author}"></td>
    </tr>
</table>
<div style="padding-top: 30px">
    <!--/*@thymesVar id="kenny" type="custom image"*/-->
    <img th:src="${kenny}" alt="Kenny McCormick" width="100" height="100"/>
</div>
<div style="padding-top: 30px">
    <!--/*@thymesVar id="barcode" type="custom barcode"*/-->
    <img th:src="${barcode}" alt="Barcode contain short description" width="300" height="30"/>
</div>
</body>
</html>